.toggle {
    width: 4rem;
    border-radius: 3rem;
    cursor: pointer;
    z-index: 10;

    /* color: inherit; */
    /* background-color: inherit; */
}

.toggle.darkMode {
    color: inherit;
}

.toggle.lightMode {
    background-color: #000000;
    --box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);

}

.icon {
    display: flex;
    align-items: center;
    /* position: absolute; */
    width: fit-content;
    align-self: "left";
    /* transform: translateY(-50%); */
    transition: transform 0.3s ease;
}

.toggle.lightMode .icon {
    transform: translate(2rem);

}

.toggle.darkMode .icon {
    transform: translate(0);
}