.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 5rem; */
    height: 100vh;
}

.content {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.position {
    display: flex;
    width: 80%;
    gap: 2rem;
    align-items: top;
    justify-content: space-between;
}

.position>div {
    width: 40%
}

/* .arrow {
    transition: transform 0.1s ease-out, opacity 0.3s ease;
}

.about-text {
    transition: filter 0.3s ease, opacity 0.3s ease;
} */