.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 5rem; */
    height: 100vh;
}

.content {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.position {
    display: flex;
    width: 80%;
    gap: 2rem;
    align-items: top;
    justify-content: space-between;

    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1.2s ease, transform 1.2s ease;
}

.position>div {
    width: 40%
}

.position.visible {
    opacity: 1;
    transform: translateY(0);
}