.contact-section {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.connect-title {
    opacity: 0;
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 0;

    transform: translate(100%, 15rem);

}

.connect-title.visible {
    animation: slideIn 1.2s ease forwards;
}

@keyframes slideIn {
    0% {
        transform: translate(100%, 5rem);
        opacity: 0;
    }

    70% {
        transform: translate(0, 5rem);
    }

    100% {
        transform: translateY(-10vh);
        font-size: 4rem;
        opacity: 1;
    }
}

.thanksMsg {
    opacity: 0;
}

.thanksMsg.visible {
    animation: fadeInUp 0.5s ease forwards;
    animation-delay: 0.8s;
}