nav {
    width: 98vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 0.4s ease, transform 0.4s ease;
    z-index: 1000;
}

nav.hidden {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
}

nav.visible {
    opacity: 1;
    transform: translateY(0);
}

.nav-links {
    display: flex;
    gap: 2rem;
    border-radius: 2rem;
    padding: 1rem 2rem;
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(6px);
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    cursor: pointer;
}

.link-wrapper {
    display: flex;
    align-items: center;
    position: relative;

    transition: transform 0.3s ease, margin-left 0.3s ease;
    transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1),
        margin-left 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.nav-item-label {
    opacity: 0;
    position: absolute;
    left: 100%;
    margin-left: 0.5rem;
    transform: translateX(-10px);
    white-space: nowrap;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-item:hover .link-wrapper {
    transform: translateX(-50px);
    margin-left: 50px;
}

.nav-item:hover .nav-item-label {
    opacity: 1;
    transform: translateX(0);
    width: fit-content;
}