.stack-section {
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.stack-content {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stack-icons {
    display: flex;
    align-items: center;
    gap: 2rem
}

.stack-text {
    width: 30%;
    text-align: center;
}

.icon:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.linkToProjects {
    opacity: 0;
    font-family: "Dela Gothic One", sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 20%;

}

.linkToProjects:hover {
    cursor: pointer;
}

.linkToProjects:hover .moveArrow {
    transform: translate(3px, -3px);
    /* transform: translateY(5px); */
}

.moveArrow {
    display: inline-block;
    transition: transform 0.3s ease;
}

.linkToProjects.visible {
    animation: slideInUp 0.5s ease-in-out forwards;
    animation-delay: 1s;
}



.delay-1 {
    opacity: 0;
    /* transition: opacity 0.8s ease, transform 0.8s ease; */

    /* fördröjning innan fade startar */
}

.delay-1.visible {
    animation: delay 0.8s ease forwards;
    animation-delay: 0.4s;
}

.delay-2 {
    opacity: 0;
    /* transition: opacity 2.6s ease, transform 0.8s ease; */
    /* fördröjning innan fade startar */
}

.delay-2.visible {
    animation: delay 0.8s ease forwards;
    animation-delay: 0.8s;
}



@keyframes delay {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(20rem);
    }

    50% {
        transform: translateY(10rem);
    }

    100% {
        transform: translateY(0);
    }
}