.stack-section {
    height: 90vh;
    display: flex;
    flex-direction: row-reverse;
}

.stack-content {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stack-icons {
    display: flex;
    align-items: center;
    gap: 2rem
}

.stack-text {
    width: 30%;
    text-align: center;
}

.icon:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.delay-1 {
    opacity: 0;
    /* transition: opacity 0.8s ease, transform 0.8s ease; */

    /* fördröjning innan fade startar */
}

.delay-1.visible {
    animation: delay-one 0.8s ease forwards;
    animation-delay: 0.4s;
}

.delay-2 {
    opacity: 0;
    /* transition: opacity 2.6s ease, transform 0.8s ease; */
    /* fördröjning innan fade startar */
}

.delay-2.visible {
    animation: delay-one 0.8s ease forwards;
    animation-delay: 0.8s;
}



@keyframes delay-one {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes delay-two {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}