.hero-section {
    height: 85vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation-name: slideup;
}

.description {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    margin-top: -6rem;
}

.description-text {
    font-size: 1rem;
    text-align: end;
}

.image {
    height: 15rem;
}

/* ANIMATIONS */

.slideInRight {
    animation: slideInRight 0.5s ease-in-out forwards;
}

.slideInLeft {
    animation: slideInLeft 0.5s ease-in-out forwards;
}

.slideInUp {
    animation: slideInUp 0.5s ease-in-out forwards;
}

@keyframes slideInRight {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}