.hero-section {
    height: 90vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation-name: slideup;
}

.description {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    margin-top: -6rem;
}

.description-text {
    font-size: 1rem;
    text-align: end;
}

.image {
    height: 15rem;
}