:root {
  /* font-family: "Cormorant Garamond", serif; */
  font-family: "Outfit", sans-serif;

  font-optical-sizing: auto;
  font-style: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
  --box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;

  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h6 {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #ffffff;
    --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

}

[data-theme="dark"] {
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
  --box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

[data-theme="light"] {
  color: #000000;
  background-color: #ffffff;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}