.linkedIn {
    display: flex;
    align-items: center;
    gap: 1rem;
    opacity: 0;
}

.linkedIn.visible {
    /* animation: fadeInUp 0.5s ease forwards; */
    animation: scaleUp 1s ease forwards;
    animation-delay: 1.5s;
}